name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 */4 * * *"}]
  # Lines below let you run workflow manually and on each commit (optional)
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: HenriqueLin
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Lisbon
          
          plugin_followup: yes
          plugin_followup_sections: user
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          plugin_languages: yes
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_details: percentage
          plugin_languages_sections: recently-used
          plugin_languages_threshold: 2%
          plugin_languages_recent_days: 30
          
          plugin_habits: yes
          plugin_habits_days: 30
          plugin_habits_charts: yes
          plugin_habits_trim: yes
          
          plugin_lines: yes
